go 1.20

use (
	./acronym
	./airport-robot
	./animal-magic
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./bob
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./census
	./chessboard
	./clock
	./election-day
	./elons-toys
	./gigasecond
	./gross-store
	./hello-world
	./interest-is-interesting
	./lasagna-master
	./leap
	./logs-logs-logs
	./need-for-speed
	./parsing-log-files
	./party-robot
	./sorting-room
	./the-farm
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
