go 1.20

use (
	./acronym
	./animal-magic
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./bob
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./clock
	./gigasecond
	./gross-store
	./hello-world
	./interest-is-interesting
	./lasagna-master
	./leap
	./need-for-speed
	./party-robot
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
